/*Informace ze zadání:

Fonty:
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;

Barvy:
Bílá, texty                         #FFFFFF
Červená, cenovky, texty             #F03000
Neidentifikovatelné cosi (stín?)    #00000000
Viz výše                            #80808080
Pozadí boxů                         #F0F0F0
Černé texty                         #000000
Datum                               #888888
Footer                              #444444
*/